body {
    background-color: #45443c;
    color: #333;
    text-align: center;
    padding: 20px;
}

header {
    font-family: Arial, sans-serif;
    background-color: #111110;
    color: white;
    padding: 1px 0px 1px 0px;
    margin:1px;
    z-index: 1;
}

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 90%;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-top: 1vh;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    font-family: Arial, sans-serif;
    font-size: xx-small;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    margin: 30px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

section:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);
}

section p {
    font-size: 18px;
    line-height: 1.8;
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    section {
        padding: 20px;
        margin: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}